@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
}

.cards a {
  color: orange;
  text-align: center;
}

h1{
  text-align: center;
}

h2 {
  color: #000;
  margin: 2rem 0 .5rem;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
}

p{
  font-size: 14px;
}

img {
  display: block;
    border: 0;
    width: 100%;
    height: auto;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 30px 63px;
    grid-row-gap: 40px;
    grid-column-gap: 25px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.text-left{
  vertical-align: top;
}

/***************************           Cards            *******************************/

.cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 80px;
    align-items: center;
}

.card {
  /*height: 200px;*/
  /*background: red;*/
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: .5rem;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  /* -webkit-box-orient: vertical; */
  /* -webkit-box-direction: normal; */
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  color: #5d5e5e;
  padding: 0 10px;
  left: 80px;
} /* li item */

.thumbnail img {
  fill: #c7c4c4;
  height: 135px;
  opacity: .25;
  padding: 1.5rem;
}

.card-content {
    font-size: .75rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.panel.card-panel .panel-header {
    background-color: #ffffff;
    font-size: .75rem;
    font-weight: 400;
    height: 25px !important;
}

.panel.card-panel .panel-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.category {
  font-size: .75rem;
  text-transform: uppercase;
}

.post-meta{
  border-top: 2px solid #e7e7e7;
  margin: .5rem 0 0;
  min-height: 35px;
  font-size: .8rem;
  text-align: center;
  padding-top: 7px; 
}

.category {
    position: absolute;
    top: 110px;
    left: 0;
    color: #fff;
    background: #e74c3c;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.category__01 {
  background-color: #50c6db;
}

.category__02 {
  background-color: #5d5e5e;
}

.category__03 {
  background-color: #51bb7b;
}

.category__04 {
  background-color: #f47820;
}

.category__05 {
  background-color: #8350a0;
}

.post-meta {
  margin-top: .5rem;
}

.comments {
  margin-left: .5rem;
}

