.sticky-sidebar-1 {
    width: 80%;
    margin: 0 auto;
}
    
.sticky-sidebar-1::after {
    display: table;
    content: "";
    clear: both;
}
    
.sticky-sidebar-1 .sandbox {
    width: 60%;
    margin: 0 0 40px;
    float: left;
}
    
.sticky-sidebar {
    background: #e7eef1;    
    padding: 15px 5px 1%;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 10px 2px -6px #fa90a3;
    position: fixed;
    right: 1%;
    width: 14%;
    float: right;
}